[submodule "AlicePCB/MX_Alps_Hybrid"]
	path = AlicePCB/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "AliceBoardPCB/random-keyboard-parts.pretty"]
	path = AliceBoardPCB/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "AliceBoardPCB/kicad_lib_tmk"]
	path = AliceBoardPCB/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "AliceBoardPCB/macropad_keyboard_design"]
	path = AliceBoardPCB/macropad_keyboard_design
	url = https://github.com/AltaFour/macropad_keyboard_design
[submodule "AliceBoardPCB/Keyboard.pretty"]
	path = AliceBoardPCB/Keyboard.pretty
	url = https://github.com/stormbard/Keyboard.pretty
[submodule "AliceBoardPCB/keebs.pretty"]
	path = AliceBoardPCB/keebs.pretty
	url = https://github.com/egladman/keebs.pretty
[submodule "AliceBoardPCB/TheKeebrary.pretty"]
	path = AliceBoardPCB/TheKeebrary.pretty
	url = https://github.com/n0bs/TheKeebrary.pretty
